footer {
  background-color: var(--color-bg-dark);
  padding-block: 1em;
}

.social-media-icons {
  display: flex;
  list-style: none;
  gap: var(--grid-gutter);
}

.social-media-icons a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #003366;
}

.social-media-icons a:hover {
  color: #3399ff;
}
