:root {
  --container-width: 82.5rem;
  --grid-columns: 12;
  --grid-gutter: 1.5rem;
}

#root {
  height: 100vh;
}

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-white);
}
